:root{
    --container-width: 75vw;
    --container-height: calc(100vh - 115px); 
    --grid-size: 60vh;
}

.main-content{
    display: flex;
    margin: auto;
    width: var(--container-width);
    height: var(--container-height);
}

.column {
    color: white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.written-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 60%;
}
