.main-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}
.game-canvas-container {
    /* outline: 2px solid yellow; */
    width: 75vw;
    height: 80vh;
    background-color: transparent;
    backdrop-filter: blur(10px) brightness(125%);
    border-radius: 8px;
    border: 1px solid #d4d4d4;
    padding: 20px 20px;
}

.game-canvas {
    /* outline: 1px solid red; */
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #d4d4d4;
    background-image:
        linear-gradient(40deg,#101f1c, #16192b),
        radial-gradient(circle, rgb(212, 212, 212, 0.25) 1px, rgba(0, 0, 0, 0) 1px);
    background-size: 100%, 50px 50px;
    background-blend-mode: overlay;

    display: flex;
    justify-content: center;
    align-items: center;
}

.avatars {
    /* outline: 1px solid red; */
    width: 70%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    justify-content: center;
    padding: 15px;
}

.avatar-container {
    /* outline: 1px solid yellow; */
    background-color: transparent;
    backdrop-filter: blur(10px) brightness(125%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    border-radius: 8px;
    border: 1px solid #d4d4d4;
    box-sizing: border-box;

}

.avatar-pic {
    /* outline: 1px solid green; */
    display: grid;
    place-items: center;
    margin-bottom: 20px;
}

.avatar-pic img {
    /* height: 100%; */
    width: 75%;
    object-fit: cover;
    display: block;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #d4d4d4;
    box-sizing: border-box;
}
.avatar-name {
    margin-bottom: 20px;
    font-weight: 400;
}

.avatar-sound {
    /* outline: 1px solid purple; */
    display: grid;
    place-items: center;
}
.avatar-sound img {
    width: 50%;
    object-fit: cover;
    display: block;
}