.stage-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.stage-top-half {
    flex: 1;
    /* outline: 2px solid red; */
    overflow: hidden;
    display: flex;
}

.stage-audience {
    /* outline: 2px solid green; */
    flex: 1;
    overflow: hidden;
    display: flex;
}

.stage-performer { 
    width: 100%;
    height: 100%;
    /* outline: 2px solid blue; */
    flex: 1;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

.stage-performer img {
    width: 30%;
    /* flex: 1; */
}

.stage-bottom-half {
    flex: 1;
}

.stage-bottom-half video {
    height: 400px;
    width: 400px;
}