.pinpad-container {
    border-radius: 8px;
    border: 1px solid #d4d4d4;
    height: 60%;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.05);
}

.pinpad-row {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;

}

.pinpad-display {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pinpad-display h4::after {
    content: "";
    width: 2.5px;
    height: 1em;
    background-color: white;
    display: inline-block;
    margin-left: 4px;
    animation: cursor-blink 1.5s steps(2) infinite;
}

.pinpad-button {
    border-radius: 8px;
    border: 1px solid #d4d4d4;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes cursor-blink {
    0%, 50% {
        opacity: 1;
    }

    51%, 100% {
        opacity: 0;
    }
}

