.main-game-container {
    /* outline: 1px solid green; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    width: 90vw;
    height: var(--container-height);
    margin: auto;
    z-index: -1;
}
.game-canvas-container {
    /* outline: 2px solid yellow; */
    width: 75vw;
    height: 80vh;
    background-color: transparent;
    backdrop-filter: blur(10px) brightness(125%);
    border-radius: 8px;
    border: 1px solid #d4d4d4;
    padding: 20px 20px;
    margin: auto;
}

.game-canvas {
    /* outline: 1px solid red; */
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #d4d4d4;
    background-image:
        linear-gradient(40deg,#101f1c, #16192b),
        radial-gradient(circle, rgb(212, 212, 212, 0.25) 1px, rgba(0, 0, 0, 0) 1px);
    background-size: 100%, 50px 50px;
    background-blend-mode: overlay;

    display: flex;
    justify-content: center;
    align-items: center;
}


