.loading-container {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(40deg,#242a47, #1b332e);
    backdrop-filter: blur(20px) brightness(125%);
    display: flex;
    justify-content: center;
    align-items: center;
}

